/** @format */

html {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.title,
.codehexa {
  color: aliceblue;
}

.title {
  font-size: 2.1rem;
  text-align: center;
}

.codehexa {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 0.4rem;
  margin: 0.4rem;
  font-size: 1.4rem;
}

#colorhexa {
  padding: 0.5rem 1rem;
  color: tomato;
  background-color: #0f0f0f;
  border-radius: 4px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  width: 100%;
  height: 100vh;
  /* background color - https://uigradients.com/#Mirage */
  background: #16222a; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to bottom,
    #3a6073,
    #16222a
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to bottom,
    #3a6073,
    #16222a
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.colors__random {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 60%;
  background-color: tomato;
  border-radius: 4px;
  box-shadow: 5px 5px 15px #f2f2f255;
}

.btn {
  all: unset;
  padding: 1rem 2.5rem;
  border: 1px solid #0f0f0f;
  color: #0f0f0f;
  background-color: aliceblue;
  cursor: pointer;
  border-radius: 4px;

  transition: all 0.3s ease-in-out;
}

.btn:hover,
.btn:active {
  color: aliceblue;
  background-color: #0f0f0f;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.footer__logo {
  width: 120px;
}

.footer__logo img {
  width: 100%;
}
